<div class="row">
  <div class="com-md-6 mx-auto">
    <div class="card card-body">
      <img class="logo" src="/img/logo.png">
      <h3 class="text-center">Account Login</h3>
      <form method="post" action="/users/login">
         <div class="div form-group">
           <label for="email">Email</label>
            <input type="email" name= "email" class="form-control" required>
         </div>
         <div class="div form-group">
           <label for="password">Password</label>
            <input type="password" name="password" class="form-control" required>
         </div>
         <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>